
	
.body {
	background-image: url('background.jpg');
	background-size: auto;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.form-box {
    background-color: #fff;
    margin: 50px auto;
    border-radius: 20px;
    width: 500px;
    height: 550px;
    position: relative;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
    padding: 50px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#title {
    margin-top: 0;
    font-size: 3rem;
    font-weight: bold;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.input-field i {
  color: #aaa;
  position: absolute;
  top: 1.3rem;
  left: 0.5rem;
}

.btn-field {
  display: flex;
  justify-content: center;
}


button {
  background-color: #f39c12;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

button.disable {
  opacity: 0.5;
  cursor: not-allowed;
}

button:hover {
  background-color: #e67e22;
}

@media only screen and (max-width: 768px) {
    .background {
        padding: 0 5%;
    }
}

@media only screen and (max-width: 480px) {
    .background {
        padding: 0 2%;
    }
}
